<!DOCTYPE html>
{% load static %}
<html lang="vi">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Liên Hệ</title>
  <link rel="stylesheet" href="{% static 'Pages/Contact/Contact.css' %}">
</head>
<body>
  <div id="app-header"></div>
  <main class="account-page">
    <!-- breadcrumb light bar -->
    <div class="account-breadcrumb">
      <div class="account-breadcrumb-container">
        <h2>Liên Hệ</h2>
        <p>Liên Hệ</p>
      </div>
    </div>

  </main>

  <div id="app-footer"></div>
  <script src="{% static 'assets/js/app.js' %}" defer></script>
  <script src="{% static 'Pages/Contact/Contact.js' %}" defer></script>
</body>
</html>

